page-main {
         .slide-image{
            max-width: 72%;
            margin-bottom: 27vh;
    
        }
        .slide-head{
            margin-top: -11vh !important;
            font-size: 2.2rem !important;
    
        }
        .slide-text{
            font-size: 1.5rem;
            
        }
        .swiper-pagination-bullet-active{
           background-color:  #f95f5d;
        }
        .btn{
           background-color:  #f95f5d;

        }
 }
